<div class="row">
    <div class="col-sm-12">
        <h2>Browse questions</h2>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <button type="button"  *ngIf="currentUser" class="btn btn-secondary" (click)="onCreate()" >Ask
            question</button>

        <div class="container controle">
            <div style="float: left">
                <div class="btn-group btn-group-toggle d-inline" data-toggle="buttons" role="group"
                    aria-label="Basic example">
                    <button type="button" [disabled]="allActive" name="btn" class="btn btn-secondary"
                        (click)="allQuest()">All questions</button>
                    <button type="button" [disabled]="newestActive" name="btn" class="btn btn-secondary"
                        (click)="newest()">Newest</button>
                    <button type="button" [disabled]="votesActive" name="btn" class="btn btn-secondary"
                        (click)="votes()">Votes</button>
                    <button type="button" [disabled]="unansweredActive" name="btn" class="btn btn-secondary"
                        (click)="unanswered()">Unanswered</button>
                    <button type="button" [disabled]="tagActive" name="btn" class="btn btn-secondary"
                        (click)="tag()">Tag</button>
                </div>
            </div>
            <div style="float: right">
                <div class="input-group col-md-12">
                    <input type="text" (keyup)="filterChanged($event.target.value)" [value]="filter"
                        class="search-query form-control" placeholder="Search" />
                </div>

            </div>
        </div>

    </div>
    <br style='clear:both;' />
    <div style="width:100px "></div>

    <div class="allQuest" *ngIf="posts.length > 0">
        <div class="question-summary" *ngFor="let p of posts">
            <div class="statscontainer">
                <div class="stats">
                    <div class="vote">
                        <div class="votes">
                            <span class="vote-count-post "><strong>{{ p.votes.length }}</strong></span>
                            <div class="viewcount">votes</div>
                        </div>
                    </div>
                    <div class="status unanswered" [ngClass]="{
                        'answer': p.responses.length > 0 && p.accepted == null,
                        'accepted': p.accepted != null
                      }">
                        <strong>{{ p.responses.length }}</strong>
                        answers
                    </div>
                </div>
            </div>

            <div class="summary">
                <h3><a routerLink="/question/{{p.id}}" class="question-hyperlink">{{ p.title }}</a></h3>
                <div class="excerpt">{{ p.body.substr(0, 300) }}</div>

                <tags [data]="p.tags"></tags>

                <div class="started fr">
                    <div class="user-info user-hover">
                        <div class="user-details">
                            <a href="#">{{p.user.pseudo}}</a>
                        </div>

                        <img src="user.png" alt="" class="bar-sm" width="32" height="32">

                        <div class="added text-muted font-italic">
                            <a href="#" class="text-reset">added <span title="2019-11-30 18:15:09Z"
                                    class="relativetime">{{ p.timestamp | date:'short' }}</span></a>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>