<div class="card w-80" *ngIf="data != null">
    <div class="card-header" [ngClass]="{
        'card text-white bg-success mb-3': accepted
      }">



        <h2 *ngIf="data.title != null">{{data.title}}</h2>
        <div class="row card-text">
            <div class="text-right" *ngIf="activateButtonAcceptResponse()">
                <button *ngIf="!accepted && postToAccept.accepted == null" mat-icon-button title="accept">
                    <mat-icon (click)="toAccept(data)">done_outline</mat-icon>
                </button>
                <button *ngIf="accepted" mat-icon-button title="clear">
                    <mat-icon (click)="toClear(data)">clear</mat-icon>
                </button>
            </div>
            <div>

                <small class="text-muted">Posted: {{data.timestamp | date:'short'}}</small>
            </div>

            <div class="ml-auto">
                <p>{{data.user?.pseudo}}</p>
            </div>
        </div>
    </div>
    <div class="card-text">
        <div class="quest">
            <markdown data="{{data.body}}"></markdown>
            <tags [data]="data.tags"></tags>
        </div> 
        <div style="clear: both"></div>

        <div class=" clearfix"> 
            <button type="button" *ngIf="currentUser && activateAction(data.user?.id) && data.title != null"
                class="btn float-right btn-primary btn-lg " (click)="onReply()">Reply to this
                question</button>
            <div *ngIf="currentUser && !activateAction(data.user?.id)" class="align-middle float-left"
                style="margin-top: 15px">
                <button mat-icon-button title="Edit" aria-label="Edit">
                    <mat-icon (click)="edit(data)">edit</mat-icon>
                </button>
                <button mat-icon-button title="Delete">
                    <mat-icon (click)="delete(data)">delete</mat-icon>
                </button>
            </div>
        </div>

        <comments [data]="data.comments" [postId]="data.id"></comments>

    </div>

</div>