<div class="card w-80" *ngIf="data != null">
    <div class="card-header" [ngClass]="{
        'card text-white bg-success mb-3': accepted
      }">

        <div class="row card-text">
            <div class="text-right" *ngIf="activateButtonAcceptResponse()">
                <button *ngIf="!accepted && noAccepted()" mat-icon-button title="accept">
                    <mat-icon (click)="toAccept(data)">done_outline</mat-icon>
                </button>
                <button *ngIf="accepted" mat-icon-button title="clear">
                    <mat-icon (click)="toClear(data)">clear</mat-icon>
                </button>
            </div>
            <h2 *ngIf="data.title != null">{{data.title}}</h2>
            <h6 *ngIf="data.title == null" class="text-secondary">{{(!accepted ? 'Response' : 'Accepted response' )}}</h6>
        </div>
    </div>



    <div class="card-text">
        <div class="container">
            <div class="row vote">
                <div class="col-auto">
                    <div class="container">
                        <div class="row">
                            <button mat-icon-button [disabled]="!activateVoteUp()" (click)="onVote('1')" title="Vote up"
                                [ngClass]="{
                                'btn btn-success': activeColor('1'),
                                'up': activeColor('1')
                              }">
                                <mat-icon>expand_less</mat-icon>
                            </button>

                        </div>
                        <div class="row justify-content-center">
                            {{data.score}}
                        </div>
                        <div class="row">
                            <button mat-icon-button [disabled]="!activateVoteDown()" (click)="onVote('-1')" title="Vote up"
                                [ngClass]="{
                                'btn btn-danger': activeColor('-1'),
                                'down': activeColor('-1')
                              }">
                                <mat-icon>expand_more</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col  summary">
                    <div class="quest">
                        <markdown data="{{data.body}}"></markdown>
                        <tags [data]="data.tags"></tags>

                        <div class="started fr">
                            <div class="user-info rounded">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-auto">
                                            <img src="../../../assets/user.png" alt="" class="bar-sm rounded-circle"
                                                width="32" height="32">
                                        </div>

                                        <div class="col">
                                            <div class="container">
                                                <div class="row">
                                                    <a>{{data.user?.pseudo}}</a>

                                                </div>
                                                <div class="row info">
                                                    <div class="container">
                                                        <div class="row test">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <i class="material-icons small valign">grade</i>
                                                                    <span
                                                                        style="text-align:center">{{data.user?.reputation}}</span>

                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <i
                                                                        class="material-icons small valign">speaker_notes</i>
                                                                    <span>{{data.user?.nbPosts}}</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="added text-muted font-italic">
                                            <a class="text-reset">added <span
                                                    class="relativetime">{{ data.timestamp | date:'short' }}</span></a>
                                        </div>

                                    </div>


                                </div>

                            </div>
                        </div>

 
                    </div>
                    <div style="clear: both"></div>

                    <div class=" clearfix">
                        <button type="button" *ngIf="currentUser && activateAction(data.user?.id) && data.title != null"
                            class="btn float-right btn-primary btn-lg " (click)="onReply()">Reply to this
                            question</button>
                        <div *ngIf="currentUser && activateAction(data.user?.id)" class="align-middle float-left"
                            style="margin-top: 15px">
                            <button mat-icon-button title="Edit" aria-label="Edit">
                                <mat-icon (click)="edit(data)">edit</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="activateDelete()" title="Delete">
                                <mat-icon (click)="delete(data)">delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <comments [data]="data.comments" [postId]="data.id"></comments>

    </div>

</div>